#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: none;
  background-color: none;
  color: aliceblue;
}


.title__container {
  display: flex;
  justify-content: space-evenly;
}

.list {
  display: flex;
  flex-direction: column;
}

.list__item {
  display: flex;
  justify-content: space-between;
}
